name: Docker Build & Deploy

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/skhancgi/hello-devops:${{ github.ref_name }}
            ghcr.io/skhancgi/hello-devops:latest

  deploy:
    name: Deploy to Azure Container Apps
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy image to Container App
        run: |
          az containerapp update \
            --name ca-skhancgi-fastapi \
            --resource-group rg-skhancgi-cd-demo \
            --image ghcr.io/skhancgi/hello-devops:${{ github.ref_name }}

      - name: Deployment confirmation
        run: |
          echo "Deployment of ${{ github.ref_name }} triggered to Azure Container Apps"